        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        body {
            box-sizing: border-box;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background: url('./background.jpg') no-repeat center;
            z-index: -1;
            background-size: cover;
            overflow: hidden;
            counter-reset: Score;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
        }
           li {
            list-style: none;
            font-size: 25px;
            font-weight: bold;
            font-style: italic;
        }
        
        h1 {
            font-style: italic;
        }
        
        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }
        
        .duck1 {
            position: absolute;
            top: -100;
            left: -40px;
            animation: fly1 15s linear 2s infinite;
            background: url('./duck1.jpg') no-repeat center;
            width: 40px;
            height: 40px;
            cursor: url('./Aim.jpg'), text;
            background-size: cover;
            border-radius: 50%;
        }
        
        .duck2 {
            position: absolute;
            top: -100;
            left: -40px;
            width: 40px;
            height: 40px;
            animation: fly2 15s linear 4s infinite;
            background: url('./duck2.jpg') no-repeat center;
            background-size: cover;
            cursor: url('./Aim.jpg'), text;
            border-radius: 50%;
        }
        
        .duck3 {
            position: absolute;
            top: -100;
            left: -40px;
            width: 40px;
            height: 40px;
            background: url('./duck3.jpg') no-repeat center;
            background-size: cover;
            animation: fly3 15s linear 6s infinite;
            cursor: url('./Aim.jpg'), text;
            border-radius: 50%;
        }
        
        .duck4 {
            position: absolute;
            top: -100;
            left: -40px;
            width: 40px;
            height: 40px;
            background: url('./duck4.jpg') no-repeat center;
            background-size: cover;
            animation: fly4 15s linear 9s infinite;
            cursor: url('./Aim.jpg'), text;
            border-radius: 50%;
        }
        
        .duck5 {
            position: absolute;
            top: -100;
            left: -40px;
            width: 40px;
            height: 40px;
            background: url('./duck5.jpg') no-repeat center;
            background-size: cover;
            animation: fly5 15s linear 12s infinite;
            cursor: url('./Aim.jpg'), text;
            border-radius: 50%;
        }
        
        @keyframes fly1 {
            0% {
                top: 360px;
                left: -70px;
            }
            15% {
                top: 150px;
                left: 15%;
            }
            50% {
                top: 360px;
                left: 40%
            }
            75% {
                top: 120px;
                left: 60%;
            }
            100% {
                top: 360px;
                left: 100%;
            }
        }
        
        @keyframes fly2 {
            0% {
                top: 360px;
                left: -70px;
            }
            15% {
                top: 150px;
                left: 15%;
            }
            50% {
                top: 350px;
                left: 40%
            }
            75% {
                top: 120px;
                left: 60%;
            }
            100% {
                top: 360px;
                left: 100%;
            }
        }
        
        @keyframes fly3 {
            0% {
                top: 360px;
                left: -70px;
            }
            15% {
                top: 150px;
                left: 15%;
            }
            50% {
                top: 330px;
                left: 40%
            }
            75% {
                top: 140px;
                left: 60%;
            }
            100% {
                top: 360px;
                left: 100%;
            }
        }
        
        @keyframes fly4 {
            0% {
                top: 360px;
                left: -70px;
            }
            15% {
                top: 150px;
                left: 15%;
            }
            50% {
                top: 350px;
                left: 40%
            }
            75% {
                top: 150px;
                left: 60%;
            }
            100% {
                top: 360px;
                left: 100%;
            }
        }
        
        @keyframes fly5 {
            0% {
                top: 360px;
                left: -70px;
            }
            15% {
                top: 150px;
                left: 15%;
            }
            50% {
                top: 360px;
                left: 40%
            }
            75% {
                top: 135px;
                left: 60%;
            }
            100% {
                top: 340px;
                left: 100%;
            }
        }
        
        input {
            position: absolute;
            top: -300px;
        }
        
        .score {
            position: absolute;
            width: 100vw;
            height: 150px;
            background-color: antiquewhite;
            bottom: 35px;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 25px;
            z-index: 2;
            font-weight: bold;
        }
        
        .score::before {
            content: 'Score :';
            position: absolute;
            display: inline-block;
        }
        
        .score::after {
            content: counter(Score);
            position: absolute;
            display: inline-block;
            margin-left: 100px;
        }
        
        input:checked+label {
            opacity: 0;
            z-index: -7;
            counter-increment: Score;
        }
